<!DOCTYPE html>
<html lang="en" ng-app="youtukeApp">
<head>
    <meta charset="UTF-8">
    <title>Youtuke - Youtube Music Player</title>
    <meta name="author" content="Lyndon Chun">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="css/main.css">
    <script src="https://code.angularjs.org/1.5.3/angular.min.js"></script>
    <script src="https://code.angularjs.org/1.5.3/angular-route.min.js"></script>
    <script src="https://code.angularjs.org/1.5.3/angular-cookies.min.js"></script>
    <script>window.angular || document.write('<script src="js/angular.min.js"><\/script><script src="js/angular-route.min.js"><\/script><script src="js/angular-cookies.min.js"><\/script>');</script>
    <script src="services/dataSrvs.js"></script>
    <script src="services/playListSrvs.js"></script>
    <script src="filters/limitResults.js"></script>
    <script src="controllers/controller.js"></script>
</head>
<body class="#212121 grey darken-4" ng-controller="youtukeCtrl" ng-init="makeRequest()">
    <header class="z-depth-2 #dd2c00 deep-orange accent-4">
        <div class="row">
            <div class="col s6">
                <h1 class="valign">YouTuke Player</h1>
            </div>
            <div class="col s6">
                <form ng-submit="makeRequest()">
                    <div class="row">
                        <div class="input-field col s5">
                            <i class="material-icons prefix" ng-click="makeRequest();">search</i>
                            <label for="icon_prefix">Search &amp; Listen</label>
                            <input id="icon_prefix" type="text" class="validate" ng-model="query">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </header>
    <div class="container">
        <div class="row">
            <div class="col s6">
                <nav class="resultTab #dd2c00 deep-orange accent-4">
                    <ul class="topTabs">
                        <li ng-class="tabClass('results')">
                            <a ng-click="navigateResult('results')">Results</a>
                        </li>
                        <li ng-class="tabClass('related')">
                            <a ng-click="navigateResult('related')">Related Videos</a>
                        </li>
                    </ul>
                </nav>
                <ng-view></ng-view>
            </div>
            <div class="col s6">
                <nav class="#dd2c00 deep-orange accent-4">
                    <ul class="topTabs">
                        <li id="nowPlaying" ng-class="plstTabClass('player')">
                            <a class="truncate" ng-click="changeTab('player')">Now Playing: {{nowPlaying}}</a>
                        </li>
                        <li ng-class="plstTabClass('playlist')">
                            <a ng-click="changeTab('playlist')">Playlist</a>
                        </li>
                    </ul>
                </nav>
                <div class="video-container" ng-show="playTab('player')">
                    <div id="player"></div>
                </div>
                <div class="playList" ng-show="playTab('playlist')">
                    <ul class="collection">
                        <li class="collection-item" ng-repeat="video in playList track by $index">
                            <div>
                                {{video.title}}
                                <span class="secondary-content">
                                    <a class="btn-floating #dd2c00 deep-orange accent-4" ng-click="resultPlayButton(video.id, video.title)">
                                        <i class="material-icons">play_arrow</i>
                                    </a>
                                    <a class="btn-floating #dd2c00 deep-orange accent-4" ng-click="removeButton(video.id)">
                                        <i class="material-icons">delete</i>
                                    </a>
                                </span>
                            </div>
                        </li>
                        <li class="collection-item center-align" ng-show="!playList[0]">
                            <p class="red-text">No Video in Playlist</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <footer class="right-align">
        <p class="white-text">Source code available at <a href="" class="red-text">GitHub</a></p>
        <p class="white-text">Designed and Developed by <a href="http://lyndonchun.com" class="red-text">Lyndon Chun</a></p>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/jquery-1.12.2.min.js"><\/script>')</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
    <script src="https://apis.google.com/js/client.js"></script>
    <script src="js/app.js"></script>
    <script src="//localhost:35729/livereload.js"></script>
</body>
</html>