<ul class="collection">
    <li class="collection-item avatar" ng-repeat="video in data.relatedVideos | limitResults:currentPage:pageSize">
        <img ng-src="{{video.snippet.thumbnails.default.url}}" alt="{{video.snippet.title}}" class="circle">
        <span class="title">{{video.snippet.title}}</span>
        <p>{{video.snippet.channelTitle}}</p>
        <span class="secondary-content">
            <a class="btn-floating #dd2c00 deep-orange accent-4" ng-click="playButton(video.id.videoId, video.snippet.title)">
                <i class="material-icons">
                    play_arrow
                </i>
            </a>
            <a class="btn-floating #dd2c00 deep-orange accent-4" ng-click="addButton(video.id.videoId, video.snippet.title)">
                <i class="material-icons">
                    playlist_add
                </i>
            </a>
        </span>
    </li>
    <li class="collection-item center-align" ng-show="!data.relatedVideos[0]">
        <p class="red-text">No Video in Playlist</p>
    </li>
</ul>
<ul class="pagination center-align">
    <li class="waves-effect" ng-class="changePageClass($index+1)" ng-repeat="video in data.relatedVideos | resultCount:pageSize">
        <a ng-click="changePage($index + 1)">
            {{$index + 1}}
        </a>
    </li>
</ul>